*:focus{
	outline: 0 !important;
}

html,body{
	width: 214px;
	padding:0px;
	margin:0px;
	font-family: Helvetica;
	overflow:hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.tabIcon{
	height: 26px;
}

.favImg{
	height: 25px; 
	width: auto;
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
}

.favCont{
	float: left;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    margin: 5px;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.favCont:hover{
	background: rgba(0,0,0,1);
}

.gameImageOverlay:hover > .favCont{
    opacity: 1.0;
}

.searchErrors{
	font-size: 20px;
	color: #ea3f3f;
	padding: 5px;
}

.tabs:hover{
	color:#c5c5c5;/*
	text-shadow: 0px 0px 8px rgba(169,169,169, 1);*/
}

.tabs{
	font-size: 20px;
	font-weight: bold;
	color: #A9A9A9;
	width: 25%;
	float: left;
	text-align: center;
	padding: 4px 0;
	background: #1c1c1c;
}

 .inputs {
    height: 40px;
    border: none;
    background: rgba(41, 42, 46, 1);
	/*background-image: url(./GameBanner/440.jpg);
	background-size: 214px auto;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);*/
    font-family: 'Montserrat', sans-serif;
    text-indent: 10px;
    color: #A9A9A9;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    width: 214px;
}

.inputs:focus {
	outline: none;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 3px rgba(255, 255, 255, 0.15);
    background: rgba(41, 42, 46, 1);*/
}

.pixelated {
  image-rendering:optimizeSpeed;             /* Legal fallback */
  image-rendering:-moz-crisp-edges;          /* Firefox        */
  image-rendering:-o-crisp-edges;            /* Opera          */
  image-rendering:-webkit-optimize-contrast; /* Safari         */
  image-rendering:optimize-contrast;         /* CSS3 Proposed  */
  image-rendering:crisp-edges;               /* CSS4 Proposed  */
  image-rendering:pixelated;                 /* CSS4 Proposed  */
  -ms-interpolation-mode:nearest-neighbor;   /* IE8+           */
  -webkit-font-smoothing: subpixel-antialiased;
}


.text{
	font-size:20px;
	color:#fff;
}

.gameImageLi{
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
}

.gameImageOverlay{
	position: relative;
	height: 100px;
}

.gameNameDiv{
	display:block; 
	width: 100%;
	/*width: 214px;*/
	font-weight: bold;
	padding: 0 3px;
	box-sizing: border-box;
	text-overflow: ellipsis;
	overflow:hidden;
	position:absolute; 
	bottom:0px;
	white-space: nowrap; 
	background-color: rgba(0,0,0, 0.5);
}

ul
{
	font-size:0px;
    list-style-type: none;
	margin:0px;
	padding: 0px;
}

li{
	padding:0px;
	margin:0px;
}

img {
	-webkit-user-drag: none;
}

ul  img{
	width: 100%;
	height: auto;
}

#blocksParent{ width: 214px;  }
.mainTabCont{width: 214px; 
	height: 654px;}
.nano { 
	background: transparent; /*width: 214px; 
	height: 654px; /* sreebAvailableHeight (728) - search box height (40) - tab Icons height (26) - tab padding (4*2) */ 
}
.nano .nano-content {  }
.nano .nano-pane   { background: rgba(0,0,0,.15); margin: 3px 3px 3px 0; width:7px;}
.nano .nano-slider { background: rgba(0,0,0,.8);}














/********************************************Tool tip temp css

.tooltip{
    display: inline;
    position: relative;
}.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 3px 5px;
    position: absolute;
    z-index: 98;
/*    width: 220px;	
}.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
***********************************************************/